*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}

td{
    width: 20px;
    height: 20px;
}

.blank{
    background-color: midnightblue;
}

.snake{
    background-color: white;
}

.snake2{
    background-color: deepskyblue;
}

.wall{
    background-color: deepskyblue;
}

.fruit{
    background-color: mediumvioletred;
}
.blank2{
    background-color: black;
}
h1 {
    font-family: 'Press Start 2P', cursive;
    color: white;
    padding: 10px;
}